<div class="indexCont withBackground">
    <div class="mainText">
        <p>
            Hey! Thanks for visiting the egg calculator website. It is a trinket
            project. How many eggs did you eat?
        </p>
        <p>
            Check out my main website -
            <a href="https://theblog.sbmedia.cloud">theBlog</a>!
        </p>
    </div>
</div>
